<video width="400" controls>
    <source src="<%= path %>" type="video/mp4">
    <source src="<%= path %>" type="video/mime">
    Your browser does not support HTML video.
</video><br>
Likes: <%= likeup %> <br>
Dislikes: <%= likedown %> <br>
Views: <%= views %>

<a href="<%= pathlike %>">Like</a>
<a href="<%= pathdislike %>">Dislike</a>
